<!DOCTYPE html>
<html>
<head>
  <title>Dai Han</title>
</head>
<body>
  <header class="header">
    <section class="header-top">
      <div class="container">
        <div class="contact">
          <div class="phone">
            <span class="icon">
              <img src="../images/icon_phone.png" alt="icon_phone">
            </span>
            <a href="tel:05113222111">05113.222.111</a>
          </div>
          <div class="email">
            <span class="icon">
              <img src="../images/icon_email.png" alt="icon_email">
            </span>
            <a href="mailto:daihaninfo@gmail.com" title="">daihaninfo@gmail.com</a>
          </div>
        </div>
        <div class="login">
          <a href="#">Đăng nhập</a>
          <a href="#">Check mail</a>
        </div>
      </div>
    </section>
    <section class="header-banner">
      <div class="container">
        <div class="logo-left">
          <img src="../images/logo1.png" alt="logo1">
          <div class="logo-title">
            <h4 class="title-top">công ty cổ phẩn cơ khí và lắp máy</h4>
            <h1 class="title-bottom">đại hãn</h1>
          </div>
        </div>
        <div class="logo-right">
          <img src="../images/logo2.png" alt="logo2">
        </div>
      </div>
    </section>
    <nav class="header-nav">
      <div class="container">
        <ul class="menu-list">
          <li class="menu-item">
            <a href="" title="">trang chủ</a>
          </li>
          <li class="menu-item">
            <a href="" title="">giới thiệu</a>
          </li>
          <li class="menu-item">
            <a href="" title="">sản phẩm - dịch vụ</a>
          </li>
          <li class="menu-item">
            <a href="" title="">dự án</a>
          </li>
          <li class="menu-item">
            <a href="" title="">hồ sơ năng lực</a>
          </li>
          <li class="menu-item">
            <a href="" title="">tin tức-sự kiện</a>
          </li>
          <li class="menu-item">
            <a href="" title="">liên hệ</a>
          </li>
        </ul>
        <button class="btn-language" type="button">tiếng việt</button>
      </div>
    </nav>
  </header>
  <div class="banner">
    <img src="../images/banner.png" alt="banner">
  </div>
  <main class="main-content">
    <section class="typify-project">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">dự án <span class="red-text">tiêu biểu</span></h3>
          <a href="#">
            <span class="icon">
              <img src="../images/arrow-right.png">
            </span>
            xem thêm
          </a>
        </div>
        <ul class="project-list">
          <li class="item">
            <div class="item-image">
              <img src="../images/image1.png" alt="image-1">
            </div>
            <a class="item-description" href="">Maecenas purus libero, auctor vitae ullamcorper quis</a>
          </li>
          <li class="item">
            <div class="item-image">
              <img src="../images/image2.png" alt="image-2">
            </div>
            <a class="item-description" href="">Vivamus feugiat, metus non posuere pellentesque</a>
          </li>
          <li class="item">
            <div class="item-image">
              <img src="../images/image3.png" alt="image-3">
            </div>
            <a class="item-description" href="">Phasellus justo elit, semper quis posuere a, elementum facilisi</a>
          </li>
          <li class="item">
            <div class="item-image">
              <img src="../images/image4.png" alt="image-4">
            </div>
            <a class="item-description" href="">Fusce faucibus purus quis leo pulvinar, sed viverra neque aliqu</a>
          </li>
          <li class="item">
            <div class="item-image">
              <img src="../images/image8.png" alt="image-8">
            </div>
            <a class="item-description" href="">Maecenas purus libero, auctor vitae ullamcorper quis</a>
          </li>
          <li class="item">
            <div class="item-image">
              <img src="../images/image7.png" alt="image-7">
            </div>
            <a class="item-description" href="">Maecenas purus libero, auctor vitae ullamcorper quis</a>
          </li>
          <li class="item">
            <div class="item-image">
              <img src="../images/image6.png" alt="image-6">
            </div>
            <a class="item-description" href="">Maecenas purus libero, auctor vitae ullamcorper quis</a>
          </li>
          <li class="item">
            <div class="item-image">
              <img src="../images/image5.png" alt="image-5">
            </div>
            <a class="item-description" href="">Maecenas purus libero, auctor vitae ullamcorper quis</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="field-activity">
      <div class="container">
        <h3 class="section-title">lĩnh vực <span class="red-text">hoạt động</span></h3>
        <ul class="activiti-list">
          <li class="activiti-item">
            <p class="text-inner">Sản xuất, chế tạo, sửa chữa và lắp đặt các sản phẩm, thiết bị, kết cấu cơ khí phi tiêu chuẩn</p>
          </li>
          <li class="activiti-item">
            <img src="../images/icon_computer.png" alt="icon_computer">
            <img src="../images/muiten.png" alt="icon_muiten">
            <img src="../images/icon_car.png" alt="icon_car">
          </li>
          <li class="activiti-item">
            <img src="../images/icon_setting.png" alt="icon_setting">
            <img src="../images/muiten.png" alt="icon_muiten">
            <img src="../images/icon_people.png" alt="icon_people">
          </li>
        </ul>
      </div>
    </section>
    <section class="news">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">tin tức <span class="red-text">mới nhất</span></h3>
          <a href="#">
            <span class="icon">
              <img src="../images/arrow-right.png">
            </span>
            xem thêm
          </a>
        </div>
        <ul class="news-list">
          <li class="new-item">
            <a href="">
              <div class="image">
                <img src="../images/image9.png" alt="image9">
              </div>
              <h6 class="title">Vivamus accumsan velit a nibh ultrices lobortis. Nam nec lacus nulla.</h6>
              <p class="description">Vivamus ex neque, bibendum eu eros at, finibus maximus orci. Sed sollicitudin laoreet lacinia. Sed viverra cursus libero, vitae laoreet nibh bibendum vel ...</p>
              <span class="date">10 - 02 - 2015</span>
            </a>
          </li>
          <li class="new-item">
            <a href="">
              <div class="image">
                <img src="../images/image10.png" alt="image10">
              </div>
              <h6 class="title">Vivamus accumsan velit a nibh ultrices lobortis. Nam nec lacus nulla.</h6>
              <p class="description">Vivamus ex neque, bibendum eu eros at, finibus maximus orci. Sed sollicitudin laoreet lacinia. Sed viverra cursus libero, vitae laoreet nibh bibendum vel ...</p>
              <span class="date">10 - 02 - 2015</span>
            </a>
          </li>
          <li class="new-item">
            <a href="">
              <div class="image">
                <img src="../images/image11.png" alt="image11">
              </div>
              <h6 class="title">Vivamus accumsan velit a nibh ultrices lobortis. Nam nec lacus nulla.</h6>
              <p class="description">Vivamus ex neque, bibendum eu eros at, finibus maximus orci. Sed sollicitudin laoreet lacinia. Sed viverra cursus libero, vitae laoreet nibh bibendum vel ...</p>
              <span class="date">10 - 02 - 2015</span>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="featured-photo">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">tin tức <span class="red-text">mới nhất</span></h3>
          <div class="action-scroll">
            <div class="action-item">
              <img class="prev" src="../images/prev.png">
            </div>
            <div class="action-item">
              <img class="next" src="../images/next.png">
            </div>
          </div>
        </div>
      </div>
      <ul class="photo-list">
        <li class="photo-item">
          <img src="../images/image_nb1.png" alt="image-nb1">
        </li>
        <li class="photo-item">
          <img src="../images/image_nb2.png" alt="image-nb2">
        </li>
        <li class="photo-item">
          <img src="../images/image_nb3.png" alt="image-nb3">
        </li>
        <li class="photo-item">
          <img src="../images/image_nb4.png" alt="image-nb4">
        </li>
        <li class="photo-item">
          <img src="../images/image_nb5.png" alt="image-nb5">
        </li>
        <li class="photo-item">
          <img src="../images/image_nb6.png" alt="image-nb6">
        </li>
        <li class="photo-item">
          <img src="../images/image_nb7.png" alt="image-nb7">
        </li>
        <li class="photo-item">
          <img src="../images/image_nb8.png" alt="image-nb8">
        </li>
      </ul>
    </section>
    <section class="our-partners">
      <div class="container">
        <div class="parners">
          <h3 class="section-title">đối tác <span class="red-text">tin cậy</span></h3>
          <ul class="parners-list">
            <li class="parners-item">
              <img src="logo_doitac1.png" alt="doitac1">
            </li>
            <li class="parners-item">
              <img src="logo_doitac2.png" alt="doitac2">
            </li>
            <li class="parners-item">
              <img src="logo_doitac3.png" alt="doitac3">
            </li>
            <li class="parners-item">
              <img src="logo_doitac4.png" alt="doitac4">
            </li>
            <li class="parners-item">
              <img src="logo_doitac5.png" alt="doitac5">
            </li>
            <li class="parners-item">
              <img src="logo_doitac6.png" alt="doitac6">
            </li>
          </ul>
        </div>
        <div class="our-video">
          <h3 class="section-title">video về <span class="red-text">chúng tôi</span></h3>
          <video class="video" src="" autobuffer autoloop loop controls poster="../images/video.png"></video>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="inner">
        <h3 class="section-title">công ty cổ phần cơ khí và lắp ráp<span class="red-text">đại hãn</span></h3>
        <div class="info">
          Địa chỉ: Đường số 5 - KCN Hòa Cầm - Quận Cẩm Lệ - TP Đà Nẵng<br>
          Nhà máy: Đường số 5 - KCN Hòa Cầm - Quận Cẩm Lệ - TP Đà Nẵng<br>
          Email:<a href="mailto:duc.dhc@gmail.com">duc.dhc@gmail.com</a><br>
          Điện thoại:<a href="tel:05113626369">(0511)3626369</a> - Fax:(0511)3626369<br>
        </div>
        <p class="coppy-right">© 2015 Công ty cổ phần cơ khí và lắp máy Đại Hãn - Phát triển bởi Kovo.vn</p>
      </div>
      <div class="logo-footer">
        <img src="../images/left_footer.png">
      </div>
    </div>
  </footer>
</body>
</html>
