@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700');

// **********************************
//   font-family
// **********************************
$font-family-body: 'Roboto', sans-serif;

// **********************************
// Color
// **********************************
$background-header: #3b3b3c;
$background-footer: #2b2b2b;
$color-primary: #cc1616;
$color-a: #ffffff;
$color-b: #3e3333;
$color-c: #cccccc;
$color-d: #333333;
$color-e: #ff2222;
$color-f: #555555;
$color-g: #777777;
$color-h: #eeeeee;
$color-i: #f7f7f7;
$color-j: #720000;
$color-k: #bc0a0a;
$color-m: #9c9c9d;
